*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.container{
 width:100%;
 height:100vh;
 background-color: #222831;
 display:flex;
 justify-content: center;
 align-items: center;
}
.calendar{
    width:20rem;
        height: 20rem;
        display: flex;
        border-radius: 2.3rem;
        align-items: center;
}
.left,.right{
    display:flex;
    height:100%;
    font-size:2.4rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.right{
    background-color: #8dc6ff;
    color:white;
    width:52%;

}
.left{
    width:48%;
    color:white;
    background: #a393eb;

}
#date{
    font-size: 5rem;
    color:#222831;
}
#day{
    color:darkorange;
}
